@import "tailwindcss";

@font-face {
  font-family: "pricedown";
  src: url("./pricedown.otf");
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "pricedown";
}
body::-webkit-scrollbar{
  display: none;
}
.body::-webkit-scrollbar{
  display: none;
}
.ScrollCard::-webkit-scrollbar{
  display: none;
}